.goodsDetail {
  background: #f6f6f6;
}
.merchandise-des {
  width: 100%;
  padding-top: 0.7rem;
  padding-bottom 0.2rem;
  margin-bottom: 0.8rem;
  background: #fff;
}
.merchandise-des h3 {
  width: 92%;
  height: 1.6rem;
  margin: 0 auto;
  color: #222;
  line-height: 1.6rem;
  font-size: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.merchandise-des .p-1 {
  width: 92%;
  height: 1.6rem;
  margin: 0 auto;
  color: #fe4045;
  line-height: 1.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.merchandise-des .p-1 i {
  font-size: 0.6rem;
  font-style: normal;
}
.merchandise-des .p-1 span {
  font-size: 1.4rem;
}
.merchandise-des .p-2 {
  position: relative;
  width: 92%;
  height: 1.2rem;
  margin: 0 auto;
  color: #fe4045;
  line-height: 1.2rem;
}
.merchandise-des .p-2 span {
  color: #222;
  font-weight: normal;
  font-size: 0.6rem;
}
.merchandise-des .p-2 i {
  position: absolute;
  top: 0;
  right: -3%;
  width: 5%;
  height: 1.2rem;
  background: url("/static/image/icon_right_arrow_s.png") 50% no-repeat;
  -webkit-background-size: 50% 80%;
  -moz-background-size: 50% 80%;
  -ms-background-size: 50% 80%;
  -o-background-size: 50% 80%;
  background-size: 50% 80%;
}

.footer-shopping-cart {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  height: 2.8rem;
}
.footer-shopping-cart .left-icon {
  float: left;
  width: 14.94%;
  height: 2.8rem;
  background: #ffffff url("/static/image/icon_collection.png") 50% no-repeat;
  -webkit-background-size: 65% 70%;
  -moz-background-size: 65% 70%;
  -ms-background-size: 65% 70%;
  -o-background-size: 65% 70%;
  background-size: 65% 70%;
}
.footer-shopping-cart .center-shopping {
  float: left;
  width: 29.33%;
  height: 2.8rem;
  background: #2bb179;
  color: #fff;
  font-size: 1rem;
  line-height: 2.25rem;
  border-radius: 0px;
  text-align: center;
}
.footer-shopping-cart .right-shopping {
  float: right;
  width: 55.73%;
  height: 2.8rem;
  background: #28c081;
  color: #fff;
  font-size: 1rem;
  line-height: 2.25rem;
  border-radius: 0px;
  text-align: center;
}
////////////////////////////////////
.parameter-list {
  width: 100%;
  height: auto;
}
.parameter-list .clearfix {
  padding-bottom: 5rem;
}
.parameter-list li {
  float: left;
  width: 100%;
  padding: 0.75rem 0;
  border-bottom: 1px solid #f6f6f6;
  //line-height: 1.2rem;
  background: #fff;
}
.parameter-list li span {
  float: left;
  width: 16.8%;
  color: #999;
  font-size: 0.85rem;
  text-indent: 5%;
}
.parameter-list li div {
  overflow: auto;
  float: right;
  width: 80%;
}
.parameter-list li div dl {
  float: left;
  width: 20%;
  font-size: 0.7rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.parameter-list li div dl dt {
  padding: 0.2rem 0 0.5rem;
  color: #222;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.parameter-list li div dl dd {
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.parameter-list li div p {
  float: left;
  width: 90%;
  color: #222;
  font-size: 0.9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.parameter-list li div p b {
  float: left;
  margin-right: 2%;
  padding: 0.15rem 1%;
  border-radius: 0.2rem;
  background: red;
  color: #fff;
  font-size: 0.5rem;
}
.parameter-list li div i {
  float: right;
  width: 10%;
  height: 1.2rem;
  background: url("/static/image/icon_right_arrow_s.png") 50% no-repeat;
  -webkit-background-size: 30% 80%;
  -moz-background-size: 30% 80%;
  -ms-background-size: 30% 80%;
  -o-background-size: 30% 80%;
  background-size: 30% 80%;
}
.mint-button--default {
  box-shadow: none;
}
.mint-popup-bottom {
  height:auto!important;
}
.mint-cell-wrapper {
  background : none!important;
}
.mint-radiolist .select {
  border-radius : 3px;
}
.mint-radiolist .select label {
  color :#fff;
}
