.set-main-list {
  width: 100%;
  height: auto;
  margin-top: 3rem;
}
.set-main-list li {
  width: 100%;
  height: 2.75rem;
  border-bottom: 1px solid #f6f6f6;
  background: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.set-main-list li a {
  display: block;
  width: 92%;
  height: 2.75rem;
  margin: 0 auto;
  background: url("/static/image/icon_right_arrow_s.png") 100% 50% no-repeat;
  -webkit-background-size: 2% 25%;
  -moz-background-size: 2% 25%;
  -ms-background-size: 2% 25%;
  -o-background-size: 2% 25%;
  background-size: 2% 25%;
  color: #000;
  line-height: 2.75rem;
  font-size: 0.9rem;
}
