
.phone-name-box {
  width: 100%;
  height: 4.37rem;
  padding-top: 0.63rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid #f6f6f6;
  background: #fff;
}
.phone-name-box dt {
  overflow: hidden;
  float: left;
  width: 20.27%;
  height: 3.8rem;
  margin: 0 3.33%;
  border-radius: 0.2rem;
}
.phone-name-box dt img {
  display: block;
  width: 100%;
  height: 100%;
}
.phone-name-box dd {
  position: relative;
  float: right;
  width: 70%;
  height: 3.8rem;
}
.phone-name-box dd strong {
  display: block;
  width: 100%;
  color: #fe4045;
  font-size: 1.05rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.phone-name-box dd strong i {
  font-style: normal;
  font-size: 0.7rem;
}
.phone-name-box dd span {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
  color: #222;
  font-size: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.phone-name-box dd .close-btn {
  position: absolute;
  top: -0.5rem;
  right: 1%;
  width: 14%;
  height: 1.8rem;
  background: url("/static/image/icon_close.png") 50% no-repeat;
  -webkit-background-size: 70% 70%;
  -moz-background-size: 70% 70%;
  -ms-background-size: 70% 70%;
  -o-background-size: 70% 70%;
  background-size: 70% 70%;
}
.confirm-btn {
  display: block;
  width: 100%;
  height: 2.25rem;
  background: #28c081;
}

.mint-radiolist-title {
  font-size 1rem
}
.mint-radiolist {
  height auto
}
.mint-radiolist a{
  float: left;
  border: none;
  padding: 0;
  backgroundColor: none;
  border: none;
  marginRight: 0.5rem;
}
.mint-cell-wrapper {
  border: 1px solid #28c081;
}
.mint-cell {
  margin 0.5rem
  min-height: 35px
}
.mint-radio-label {
   margin: 5px;
}
.mint-radio-input:checked + .mint-cell-wrapper {
  background-color: #26a2ff;
  border-color: #26a2ff;
}
.mint-radiolist-label {
  padding: 0
}
.mint-radio-core {
  display: none
}

