.my-custom-service {
  height: 100vh;
  width: 100%;
  height: 93vh;
  padding-top: 7vh;
  background: #f6f6f6;
}
.my-custom-service .service-main-list {
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
}
.my-custom-service .service-main-list li {
  width: 100%;
  height: 2.5rem;
  border-bottom: 1px solid #f6f6f6;
  background: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.my-custom-service .service-main-list li a {
  display: block;
  width: 92%;
  height: 2.5rem;
  margin: 0 auto;
  background: url("/static/image/icon_right_arrow_s.png") 100% 50% no-repeat;
  -webkit-background-size: 2% 20%;
  -moz-background-size: 2% 20%;
  -ms-background-size: 2% 20%;
  -o-background-size: 2% 20%;
  background-size: 2% 20%;
  color: #000;
  line-height: 2.5rem;
  font-size: 0.82rem;
}
.my-custom-service .service-main-list li a img {
  float: left;
  height: 0.9rem;
  margin: 0.8rem 2% 0 0;
}
.my-custom-service .service-main-list .service-p {
  padding: 0.5rem 0;
  color: #999;
  font-size: 0.6rem;
  text-align: center;
}
