.eca-inf-box {
  width: 100%;
  height: 4.38rem;
  margin-top: 2.75rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.eca-inf-box dl {
  padding-top: 0.38rem;
}
.eca-inf-box dt {
  float: left;
  width: 18.67%;
  height: 3.5rem;
  margin-left: 2.27%;
}
.eca-inf-box dt img {
  display: block;
  width: 100%;
  height: 100%;
}
.eca-inf-box dd {
  position: relative;
  float: right;
  width: 74%;
  height: 1.8rem;
  margin-right: 2.27%;
  line-height: 0.9rem;
  color: #333;
  font-size: 0.6rem;
}
.eca-inf-box dd p {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 1.8rem;
}
.eca-inf-box dd a {
  position: absolute;
  top: 2.5rem;
  right: 0;
  width: 20%;
  height: 0.8rem;
  border: 1px solid red;
  border-radius: 0.15rem;
  color: red;
  font-size: 0.6rem;
  line-height: 0.8rem;
  text-align: center;
}
.eca-main-box {
  width: 100%;
  height: 11.5rem;
  margin-top: 0.38rem;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  background: #fff;
}
.eca-main-box h3 {
  display: block;
  width: 94%;
  height: 2rem;
  margin: 0 auto;
  color: #030303;
  line-height: 2rem;
  font-size: 0.6rem;
}
.eca-main-box h3 span {
  float: left;
  width: 30%;
}
.eca-main-box h3 strong {
  float: right;
  width: 30%;
  text-align: right;
}
.eca-main-box .stars-box {
  width: 94%;
  height: auto;
  margin: 0 auto;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.eca-main-box .stars-box ul {
  padding: 0.25rem 0;
}
.eca-main-box .stars-box li {
  width: 100%;
  height: 1.75rem;
  line-height: 1.75rem;
}
.eca-main-box .stars-box li span {
  float: left;
  width: 30%;
  font-size: 0.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.eca-main-box .stars-box li strong {
  float: right;
  width: 40%;
  height: 1.75rem;
}
.eca-main-box .stars-box li .stars-00 {
  background: url("/static/image/stars_00.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.eca-main-box .stars-box li .stars-01 {
  background: url("/static/image/stars_01.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.eca-main-box .stars-box li .stars-02 {
  background: url("/static/image/stars_02.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.eca-main-box .stars-box li .stars-03 {
  background: url("/static/image/stars_03.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.eca-main-box .stars-box li .stars-04 {
  background: url("/static/image/stars_04.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.eca-main-box .stars-box li .stars-05 {
  background: url("/static/image/stars_05.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.eca-main-box .pl-botton-a {
  width: 94%;
  height: 2rem;
  margin: 0 auto;
  line-height: 2rem;
}
.eca-main-box .pl-botton-a a {
  float: right;
  width: 15%;
  height: 0.8rem;
  border: 1px solid red;
  border-radius: 0.15rem;
  margin-top: 0.5rem;
  color: red;
  font-size: 0.6rem;
  line-height: 0.8rem;
  text-align: center;
}
