.collect {
  background : #f6f6f6;
  position:absolute;
  height: 100%;
}

.equipment-list {
  width: 93.6%;
  height: auto;
  margin: 0 auto;
  padding-top 3rem;
}
.equipment-list .detailed-list {
  display: block;
  width: 100%;
  height: auto;
}
.equipment-list .detailed-list .model-list-box {
  overflow: hidden;
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.equipment-list .detailed-list .model-box {
  overflow: hidden;
  width: 100%;
  padding: 0.8rem 0 0.8rem 0.7rem;
}
.equipment-list .detailed-list .model-box .left-b-box {
  float: left;
  position: relative;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.equipment-list .detailed-list .model-box .left-b-box .sign-i {
  position: absolute;
  top: 1rem;
  right: 90%;
  width: 15.9%;
  height: 3.5rem;
  background: url("/static/image/coupons_button_tick_press2.png") 50% no-repeat;
  -webkit-background-size: 33% 33%;
  -moz-background-size: 33% 33%;
  -ms-background-size: 33% 33%;
  -o-background-size: 33% 33%;
  background-size: 33% 33%;
}
.equipment-list .detailed-list .model-box .left-b-box .sign-on {
  position: absolute;
  top: 1rem;
  left: -3.2%;
  width: 15.9%;
  height: 3.5rem;
  background: url("/static/image/coupons_button_tick_press.png") 50% no-repeat;
  -webkit-background-size: 33% 33%;
  -moz-background-size: 33% 33%;
  -ms-background-size: 33% 33%;
  -o-background-size: 33% 33%;
  background-size: 33% 33%;
}
.equipment-list .detailed-list .model-box .left-b-box .pic-left {
  float: left;
  width: 25.71%;
  height: 5.5rem;
  margin-left: 8.57%;
}
.equipment-list .detailed-list .model-box .left-b-box .pic-left img {
  display: block;
  width: 100%;
  height: 100%;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right {
  float: right;
  width: 60%;
  margin-right: 3%;
  font-size: 0.6rem;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right h4 {
  width: 100%;
  height: 1.1rem;
  color: #222;
  font-size: 0.8rem;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right h4 span {
  float: right;
  color: red;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right p {
  position: relative;
  width: 85%;
  height: 1.4rem;
  padding-right: 10%;
  border-radius: 0.3rem;
  background: #f6f6f6;
  line-height: 1.4rem;
  color: #999;
  text-indent: 3%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right p:after {
  position: absolute;
  top: 0.5rem;
  right: 4%;
  width: 4%;
  height: 0.2rem;
  content: "";
  background: url('/static/image/icon_bottom_arrow_s.png') no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right .increase-change {
  width: 100%;
  height: 1.6rem;
  margin-top: 0.2rem;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right .increase-change span {
  float: left;
  width: 11.5%;
  height: 1.4rem;
  border: 1px solid #999;
  border-radius: 1rem;
  color: #222;
  font-size: 0.7rem;
  line-height: 1.5rem;
  text-align: center;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right .increase-change i {
  float: left;
  width: 11.5%;
  height: 1.4rem;
  color: #222;
  font-size: 0.65rem;
  font-style: normal;
  line-height: 1.7rem;
  text-align: center;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right .inf-r-price {
  width: 100%;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right .inf-r-price span {
  float: left;
  color: #999;
  line-height: 1.4rem;
  font-size: 0.6rem;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right .inf-r-price strong {
  float: right;
  color: #fe4045;
  font-size: 0.95rem;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right .inf-r-price strong b {
  margin-left: -5%;
  margin-right: 5%;
  font-style: normal;
  font-size: 0.6rem;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right .inf-r-price strong em {
  font-style normal;
  font-size:1.3rem;
}
.equipment-list .detailed-list .model-big-box {
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  background: #fff;
}

.footer-appraisal1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  height: 2.8rem;
  box-shadow: 0 0 5px 5px #f6f6f6;
  background: #fff;
}
.footer-appraisal1 .sign-i {
  position: absolute;
  width: 15.9%;
  height: 2.8rem;
  background: url("/static/image/coupons_button_tick_press2.png") 50% no-repeat;
  -webkit-background-size: 33% 33%;
  -moz-background-size: 33% 33%;
  -ms-background-size: 33% 33%;
  -o-background-size: 33% 33%;
  background-size: 33% 33%;
}
.footer-appraisal1 .sign-on {
  position: absolute;
  width: 15.9%;
  height: 2.8rem;
  background: url("/static/image/coupons_button_tick_press.png") 50% no-repeat;
  -webkit-background-size: 33% 33%;
  -moz-background-size: 33% 33%;
  -ms-background-size: 33% 33%;
  -o-background-size: 33% 33%;
  background-size: 33% 33%;
}
.footer-appraisal1 .del {
  float: right;
  margin-right 0.5rem
}
.footer-appraisal1 p {
  float: left;
  line-height:3rem
  height: 2.8rem;
  margin-left: 15%;
}
