.order-waiting-payment {
  padding-bottom: 5rem;
  width: 100%;
  height: 93vh;
  padding-top: 7vh;
  background: #f6f6f6;
  height: auto;
}
.order-waiting-payment .top-count-down {
  width: 100%;
  padding: 1.25rem 0;
  background: #fff;
}
.order-waiting-payment .top-count-down h2 {
  width: 88%;
  margin: 0 auto 0.5rem;
  color: #fe4045;
  font-size: 0.9rem;
}
.order-waiting-payment .top-count-down p {
  width: 88%;
  margin: 0 auto;
  color: #222;
  font-size: 0.55rem;
}
.order-waiting-payment .top-process-box {
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  background: #fdfdfd;
}
.order-waiting-payment .top-process-box .three-process-box {
  width: 93.6%;
  height: 3rem;
  margin: 0 auto;
  background: #fff;
}
.order-waiting-payment .top-process-box .three-process-box div {
  position: relative;
  float: left;
  width: 5.2%;
  height: 0.9rem;
  margin: 0 5%;
}
.order-waiting-payment .top-process-box .three-process-box div strong {
  display: block;
  width: 100%;
  height: 0.9rem;
  border-radius: 1rem;
  color: #fff;
  background: #999;
  font-size: 0.6rem;
  text-align: center;
  line-height: 0.9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .top-process-box .three-process-box div b {
  position: absolute;
  bottom: -1.2rem;
  left: -148%;
  width: 400%;
  height: 1rem;
  color: #999;
  font-weight: normal;
  font-size: 0.6rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .top-process-box .three-process-box div:nth-child(1) {
  margin-left: 20%;
}
.order-waiting-payment .top-process-box .three-process-box span {
  float: left;
  width: 12%;
  color: #999;
  font-size: 0.8rem;
  line-height: 0.5rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .top-process-box .four-process-box {
  width: 93.6%;
  height: 3rem;
  margin: 0 auto;
  background: #fff;
}
.order-waiting-payment .top-process-box .four-process-box div {
  position: relative;
  float: left;
  width: 5.2%;
  height: 0.9rem;
  margin: 0 5%;
}
.order-waiting-payment .top-process-box .four-process-box div strong {
  display: block;
  width: 100%;
  height: 0.9rem;
  border-radius: 1rem;
  color: #fff;
  background: #999;
  font-size: 0.6rem;
  text-align: center;
  line-height: 0.9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .top-process-box .four-process-box div b {
  position: absolute;
  bottom: -1.2rem;
  left: -148%;
  width: 400%;
  height: 1rem;
  color: #999;
  font-weight: normal;
  font-size: 0.6rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .top-process-box .four-process-box span {
  float: left;
  width: 12%;
  color: #999;
  font-size: 0.8rem;
  line-height: 0.5rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .top-process-box .process-1 div:nth-child(1) strong {
  background: #33bf83;
}
.order-waiting-payment .top-process-box .process-1 div:nth-child(1) b {
  color: #33bf83;
}
.order-waiting-payment .top-process-box .process-1 span:nth-child(2) {
  color: #33bf83;
}
.order-waiting-payment .top-process-box .process-2 div:nth-child(1) strong,
.order-waiting-payment .top-process-box .process-2 div:nth-child(3) strong {
  background: #33bf83;
}
.order-waiting-payment .top-process-box .process-2 div:nth-child(1) b,
.order-waiting-payment .top-process-box .process-2 div:nth-child(3) b {
  color: #33bf83;
}
.order-waiting-payment .top-process-box .process-2 span:nth-child(2),
.order-waiting-payment .top-process-box .process-2 span:nth-child(4) {
  color: #33bf83;
}
.order-waiting-payment .top-process-box .process-3 div:nth-child(1) strong,
.order-waiting-payment .top-process-box .process-3 div:nth-child(3) strong,
.order-waiting-payment .top-process-box .process-3 div:nth-child(5) strong {
  background: #33bf83;
}
.order-waiting-payment .top-process-box .process-3 div:nth-child(1) b,
.order-waiting-payment .top-process-box .process-3 div:nth-child(3) b,
.order-waiting-payment .top-process-box .process-3 div:nth-child(5) b {
  color: #33bf83;
}
.order-waiting-payment .top-process-box .process-3 span:nth-child(2),
.order-waiting-payment .top-process-box .process-3 span:nth-child(4),
.order-waiting-payment .top-process-box .process-3 span:nth-child(6) {
  color: #33bf83;
}
.order-waiting-payment .top-process-box .process-4 div strong {
  background: #33bf83;
}
.order-waiting-payment .top-process-box .process-4 div b {
  color: #33bf83;
}
.order-waiting-payment .top-process-box .process-4 span {
  color: #33bf83;
}
.order-waiting-payment .top-address-inf {
  display: block;
  width: 93.33%;
  margin: 0 auto 0.5rem;
  padding-top: 0.5rem;
}
.order-waiting-payment .top-address-inf .address-inf-box {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  background: #fff;
}
.order-waiting-payment .top-address-inf .address-inf-box .p-null {
  display: block;
  width: 100%;
  color: #28c081;
  font-size: 0.7rem;
  line-height: 2.95rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .top-address-inf .address-inf-box .div-des {
  width: 100%;
}
.order-waiting-payment .top-address-inf .address-inf-box .div-des h5 {
  width: 100%;
  height: 1.5rem;
  border-bottom: 1px solid #f6f6f6;
  color: #28c081;
  line-height: 1.5rem;
  font-size: 0.8rem;
  text-indent: 5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .top-address-inf .address-inf-box .div-des p {
  position: relative;
  display: block;
  width: 100%;
  height: 1.48rem;
  text-indent: 12%;
}
.order-waiting-payment .top-address-inf .address-inf-box .div-des p:nth-child(2) {
  color: #222;
  line-height: 1.8rem;
  font-size: 0.7rem;
}
.order-waiting-payment .top-address-inf .address-inf-box .div-des p:nth-child(2) strong {
  margin-left: 5%;
}
.order-waiting-payment .top-address-inf .address-inf-box .div-des p:nth-child(3) {
  color: #666;
  line-height: 1.2rem;
  font-size: 0.6rem;
}
.order-waiting-payment .top-address-inf .address-inf-box .div-des p:nth-child(2):after,
.order-waiting-payment .top-address-inf .address-inf-box .div-des p:nth-child(3):after {
  position: absolute;
  left: 5%;
  width: 4.71%;
  content: "";
}
.order-waiting-payment .top-address-inf .address-inf-box .div-des p:nth-child(2):after {
  top: 0.4rem;
  height: 0.82rem;
  background: url("/static/image/icon_figure.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.order-waiting-payment .top-address-inf .address-inf-box .div-des p:nth-child(3):after {
  top: 0.1rem;
  height: 1rem;
  background: url("/static/image/icon_location.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.order-waiting-payment .calculation-main {
  width: 93.33%;
  height: auto;
  margin: 0 auto 0.5rem;
  border-radius: 0.5rem;
  background: #fff;
}
.order-waiting-payment .calculation-main .c-des-list {
  overflow: hidden;
  width: 90%;
  height: auto;
  margin-left: 6%;
  margin-bottom: 0.5rem;
}
.order-waiting-payment .calculation-main .c-des-list h3 {
  position: relative;
  width: 100%;
  height: 1.6rem;
  color: #222;
  line-height: 1.6rem;
  font-size: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .calculation-main .c-des-list h3 i {
  position: absolute;
  top: 0.5rem;
  right: -2%;
  width: 11%;
  height: 1.6rem;
  background: url("/static/image/icon_bottom_arrow_s_2.png") 50% no-repeat;
  -webkit-background-size: 50% 33%;
  -moz-background-size: 50% 33%;
  -ms-background-size: 50% 33%;
  -o-background-size: 50% 33%;
  background-size: 50% 33%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.order-waiting-payment .calculation-main .c-des-list h3 .i-ani {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.order-waiting-payment .calculation-main .c-des-list ul {
  overflow: hidden;
  height: 7.25rem;
}
.order-waiting-payment .calculation-main .c-des-list .ul-auto {
  height: auto;
}
.order-waiting-payment .calculation-main .c-des-list li {
  width: 100%;
  margin-bottom: 0.5rem;
*zoom: 1;
}
.order-waiting-payment .calculation-main .c-des-list li .li-left-img {
  float: left;
  width: 30%;
  height: 4.6rem;
}
.order-waiting-payment .calculation-main .c-des-list li .li-left-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.order-waiting-payment .calculation-main .c-des-list li .li-right-inf {
  position: relative;
  float: right;
  width: 68%;
}
.order-waiting-payment .calculation-main .c-des-list li .li-right-inf h4 {
  width: 100%;
  height: 1rem;
  color: #222;
  line-height: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .calculation-main .c-des-list li .li-right-inf h4 span {
  float: left;
  width: 70%;
  font-size: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .calculation-main .c-des-list li .li-right-inf h5 {
  width: 100%;
  height: 1rem;
  color: #222;
  font-size: 0.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .calculation-main .c-des-list li .li-right-inf h6 {
  width: 100%;
  height: 0.8rem;
  margin-top: 0.6rem;
  font-size: 0.6rem;
}
.order-waiting-payment .calculation-main .c-des-list li .li-right-inf h6 span {
  font-size: 0.8rem;
}
.order-waiting-payment .calculation-main .c-des-list li .li-right-inf div {
  display: block;
  width: 100%;
  height: 1.5rem;
}
.order-waiting-payment .calculation-main .c-des-list li .li-right-inf div p {
  float: left;
  width: 75%;
  height: 1.5rem;
  color: #222;
  line-height: 1.5rem;
  font-size: 0.55rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .calculation-main .c-des-list li .li-right-inf div span {
  float: right;
  width: 25%;
  height: 1.5rem;
  color: #022222;
  text-align: right;
  font-size: 0.8rem;
  line-height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .calculation-main .c-des-list li .li-right-inf div .through {
  font-weight: normal;
  text-decoration: line-through;
}
.order-waiting-payment .calculation-main .c-des-list li .li-right-inf .i-img {
  position: absolute;
  top: 1.9rem;
  left: 0;
  width: 20%;
  height: 0.85rem;
  background: url("/static/image/font_img_01.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.order-waiting-payment .calculation-main .c-des-list li:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
.order-waiting-payment .calculation-main .c-des-list .small-p {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}
.order-waiting-payment .calculation-main .c-des-list .small-p p {
  color: #666;
  line-height: 0.7rem;
  font-size: 0.5rem;
}
.order-waiting-payment .calculation-main .c-des-list .small-p p span {
  float: left;
  width: 50%;
  text-align: left;
}
.order-waiting-payment .calculation-main .c-des-list .small-p p strong {
  float: right;
  width: 50%;
  text-align: right;
}
.order-waiting-payment .calculation-main .c-des-list .subtotal-li-box {
  display: block;
  width: 100%;
  height: 1.4rem;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #f6f6f6;
  color: #222;
  line-height: 1.2rem;
  font-size: 0.7rem;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .calculation-main .c-des-list .subtotal-li-box strong {
  color: #fe4045;
  font-size: 0.8rem;
}
.order-waiting-payment .calculation-main .c-des-list .subtotal-li-box em {
  margin-right: 3%;
}
.order-waiting-payment .calculation-main .c-des-list .subtotal-li-box b {
  color: #222;
  font-weight: normal;
  font-size: 0.8rem;
}
.order-waiting-payment .calculation-main .c-des-list .subtotal-box {
  display: block;
  width: 100%;
  height: 1.85rem;
  color: #222;
  line-height: 1.2rem;
  font-size: 0.7rem;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .calculation-main .c-des-list .subtotal-box strong {
  color: #fe4045;
  font-size: 0.8rem;
}
.order-waiting-payment .calculation-main .c-des-list .subtotal-box em {
  float: left;
}
.order-waiting-payment .calculation-main .c-des-list .subtotal-box b {
  color: #222;
  font-weight: normal;
  font-size: 0.8rem;
}
.order-waiting-payment .details-inf {
  width: 93.33%;
  height: auto;
  margin: 0 auto 0.5rem;
  border-radius: 0.5rem;
  background: #fff;
}
.order-waiting-payment .details-inf li {
  width: 92%;
  height: 1.95rem;
  padding: 0 4%;
  border-bottom: 1px solid #f6f6f6;
  line-height: 1.95rem;
}
.order-waiting-payment .details-inf li span {
  float: left;
  width: 50%;
  color: #222;
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .details-inf li a {
  float: right;
  width: 50%;
  color: #222;
  font-size: 0.7rem;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .details-inf li .color-green {
  color: #28c081;
}
.order-waiting-payment .details-inf li .number-color {
  color: #fe4045;
  font-size: 0.9rem;
}
.order-waiting-payment .details-inf li .right-arrow:after {
  margin-left: 3%;
  content: ">";
  color: #999;
}
.order-waiting-payment .details-inf .rule-p {
  width: 92%;
  height: 1.85rem;
  margin: 0 auto;
  line-height: 1.85rem;
  color: #666;
  font-size: 0.6rem;
}
.order-waiting-payment .details-inf .rule-p span {
  position: relative;
}
.order-waiting-payment .details-inf .rule-p span:after {
  position: absolute;
  top: -0.5rem;
  right: -77%;
  width: 77%;
  height: 1.85rem;
  background: url("/static/image/icon_problem.png") 50% no-repeat;
  -webkit-background-size: 50% 50%;
  -moz-background-size: 50% 50%;
  -ms-background-size: 50% 50%;
  -o-background-size: 50% 50%;
  background-size: 50% 50%;
  content: "";
}
.order-waiting-payment .details-inf .rule-p strong {
  float: right;
  width: 50%;
  height: 1.85rem;
  color: #222;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.85rem;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .details-inf .rule-p strong b {
  color: #fe4d51;
  font-weight: normal;
}
.order-waiting-payment .quality-testing-inf {
  width: 93.33%;
  height: auto;
  margin: 0 auto 0.5rem;
  border-radius: 0.5rem;
}
.order-waiting-payment .quality-testing-inf .title-tab {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
}
.order-waiting-payment .quality-testing-inf .title-tab span {
  float: left;
  color: #999;
  padding: 0 3%;
  height: 2rem;
  font-size: 0.7rem;
}
.order-waiting-payment .quality-testing-inf .title-tab .select {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: #fff;
  color: #222;
  font-size: 0.8rem;
}
.order-waiting-payment .quality-testing-inf .title-tab-2 {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: #fff;
}
.order-waiting-payment .quality-testing-inf .title-tab-2 span {
  float: left;
  color: #222;
  padding: 0 3%;
  height: 2rem;
  font-size: 0.8rem;
}
.order-waiting-payment .quality-testing-inf .option-list {
  display: block;
  width: 100%;
  height: auto;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: #fff;
}
.order-waiting-payment .quality-testing-inf .option-list div {
  display: none;
}
.order-waiting-payment .quality-testing-inf .option-list .show {
  display: block;
}
.order-waiting-payment .quality-testing-inf .option-list h4 {
  width: 100%;
  padding: 0.5rem 0 0 0;
  color: #222;
  font-size: 0.7rem;
  text-indent: 3%;
}
.order-waiting-payment .quality-testing-inf .option-list ul li {
  width: 93%;
  height: 2.7rem;
  border-bottom: 1px solid #f6f6f6;
  margin: 0 auto;
  color: #222;
  line-height: 2.7rem;
  font-size: 0.7rem;
}
.order-waiting-payment .quality-testing-inf .option-list ul li span {
  float: left;
  width: 33%;
  height: 2.7rem;
  color: #222;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .quality-testing-inf .option-list ul li em {
  float: left;
  width: 33%;
  height: 2.7rem;
  color: #666;
  text-indent: 3%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .quality-testing-inf .option-list ul li strong {
  float: right;
  width: 33%;
  height: 2.7rem;
  font-size: 0.75rem;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .quality-testing-inf .option-list ul li .identical {
  color: #28c081;
}
.order-waiting-payment .quality-testing-inf .option-list ul li .atypism {
  color: #fe4045;
}
.order-waiting-payment .quality-testing-inf .option-list ul li .atypism i {
  float: right;
  width: 10%;
  height: 2.7rem;
  margin-left: 2%;
  background: url("/static/image/icon_right_arrow_s.png") 50% no-repeat;
  -webkit-background-size: 70% 20%;
  -moz-background-size: 70% 20%;
  -ms-background-size: 70% 20%;
  -o-background-size: 70% 20%;
  background-size: 70% 20%;
}
.order-waiting-payment .quality-testing-inf .option-list ul li .normal {
  color: #222;
  font-size: 0.9rem;
}
.order-waiting-payment .copy-and-time {
  width: 93.33%;
  padding: 0.5rem 0;
  margin: 0 auto 0.5rem;
  border-radius: 0.5rem;
  background: #fff;
}
.order-waiting-payment .copy-and-time p {
  position: relative;
  width: 90%;
  margin: 0.3rem auto;
  color: #999;
  font-size: 0.55rem;
}
.order-waiting-payment .copy-and-time p textarea {
  overflow: hidden;
  width: 30%;
  height: 0.7rem;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: #999;
  resize: none;
}
.order-waiting-payment .copy-and-time p .copy-btn {
  position: absolute;
  top: -0.2rem;
  left: 50%;
  padding: 0.1rem 2%;
  border-radius: 0.2rem;
  border: 1px solid #666;
  background: none;
  color: #666;
  font-size: 0.45rem;
}
.order-waiting-payment .footer-payment {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  height: 2.45rem;
  box-shadow: 0 0 5px 5px #f6f6f6;
  background: #fff;
}
.order-waiting-payment .footer-payment a {
  display: block;
  width: 20.8%;
  height: 1.5rem;
  border-radius: 1rem;
  line-height: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-waiting-payment .footer-payment .cancel-btn,
.order-waiting-payment .footer-payment .revise-btn {
  border: 1px solid #222;
  color: #222;
}
.order-waiting-payment .footer-payment .revise-btn {
  float: left;
  margin: 0.5rem 3.2%;
}
.order-waiting-payment .footer-payment .cancel-btn {
  float: right;
  margin: 0.5rem 0%;
}
.order-waiting-payment .footer-payment .payment-btn {
  float: right;
  margin: 0.5rem 3.2%;
  border: 1px solid #fb424b;
  color: #fb424b;
}
