.payment-method {
  width: 100%;
  height: 93vh;
  padding-top: 7vh;
  background: #f6f6f6;
}
.payment-method .payment-num {
  width: 100%;
  height: 3rem;
  background: #fff;
}
.payment-method .payment-num h3 {
  width: 91.47%;
  height: 3rem;
  margin: 0 auto;
  line-height: 3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.payment-method .payment-num h3 span {
  color: #000;
  line-height: 3rem;
  font-size: 0.8rem;
}
.payment-method .payment-num h3 strong {
  color: #fe4045;
  font-weight: normal;
  font-size: 0.9rem;
}
.payment-method .method-box {
  width: 93.6%;
  height: auto;
  margin: 0.6rem auto 0;
  padding-bottom: 3rem;
}
.payment-method .method-box h4 {
  width: 100%;
  height: 1.95rem;
  color: #222;
  font-size: 0.8rem;
  line-height: 1.95rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.payment-method .method-box ul {
  overflow: hidden;
  display: block;
  width: 100%;
  border-radius: 0.3rem;
  background: #fff;
}
.payment-method .method-box li {
  position: relative;
  width: 94%;
  height: 3rem;
  margin: 0 auto;
  border-bottom: 1px solid #f6f6f6;
}
.payment-method .method-box li img {
  position: absolute;
  top: 0.7rem;
  left: 0;
  width: 7.5%;
  height: 1.5rem;
}
.payment-method .method-box li p {
  width: 80%;
  margin: 0 auto;
  color: #222;
  line-height: 3rem;
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.payment-method .method-box li i {
  position: absolute;
  top: 0.5rem;
  right: -2.5%;
  width: 11%;
  height: 2.0rem;
  background: url("/static/image/coupons_button_tick_press2.png") 50% no-repeat;
  -webkit-background-size: 50% 50%;
  -moz-background-size: 50% 50%;
  -ms-background-size: 50% 50%;
  -o-background-size: 50% 50%;
  background-size: 50% 50%;
}
.payment-method .method-box li .i-hook {
  background: url("/static/image/coupons_button_tick_press.png") 50% no-repeat;
  -webkit-background-size: 50% 50%;
  -moz-background-size: 50% 50%;
  -ms-background-size: 50% 50%;
  -o-background-size: 50% 50%;
  background-size: 50% 50%;
}
.payment-method .method-box li:nth-last-child(1) {
  border-bottom: none;
}
.payment-method .method-box li:active {
  opacity: 0.8;
}
.payment-method .payment-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.45rem;
}
.payment-method .payment-btn a {
  display: block;
  width: 100%;
  height: 2.45rem;
  background: #28c081;
  color: #fff;
  font-size: 0.9rem;
  line-height: 2.45rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
