.order-express {
  width: 100%;
  height: 93vh;
  padding-top: 7vh;
  background: #f6f6f6;
}
.top-process-box {
  width: 100%;
  height: 6.4rem;
  margin-bottom: 0.5rem;
  padding-top: 7vh;
  background: #fdfdfd;
}
.top-process-box h1 {
  overflow: hidden;
  width: 93.6%;
  height: 3rem;
  margin: 0 auto;
}
.top-process-box h1 img {
  float: left;
  height: 1.1rem;
  margin: 1rem 3% 0 0;
}
.top-process-box h1 span {
  float: left;
  color: #28c081;
  line-height: 3rem;
  font-size: 0.9rem;
}
.top-process-box h1 a {
  float: right;
  color: #666;
  line-height: 3.2rem;
  font-size: 0.65rem;
}
.top-process-box .three-process-box {
  width: 93.6%;
  height: 3rem;
  margin: 0 auto;
  background: #fff;
}
.top-process-box .three-process-box div {
  position: relative;
  float: left;
  width: 5.2%;
  height: 0.9rem;
  margin: 0 5%;
}
.top-process-box .three-process-box div strong {
  display: block;
  width: 100%;
  height: 0.9rem;
  border-radius: 1rem;
  color: #fff;
  background: #999;
  font-size: 0.6rem;
  text-align: center;
  line-height: 0.9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.top-process-box .three-process-box div b {
  position: absolute;
  bottom: -1.2rem;
  left: -148%;
  width: 400%;
  height: 1rem;
  color: #999;
  font-weight: normal;
  font-size: 0.6rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.top-process-box .three-process-box div:nth-child(1) {
  margin-left: 20%;
}
.top-process-box .three-process-box span {
  float: left;
  width: 12%;
  color: #999;
  font-size: 0.8rem;
  line-height: 0.5rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.top-process-box .four-process-box {
  width: 93.6%;
  height: 3rem;
  margin: 0 auto;
  background: #fff;
}
.top-process-box .four-process-box div {
  position: relative;
  float: left;
  width: 5.2%;
  height: 0.9rem;
  margin: 0 5%;
}
.top-process-box .four-process-box div strong {
  display: block;
  width: 100%;
  height: 0.9rem;
  border-radius: 1rem;
  color: #fff;
  background: #999;
  font-size: 0.6rem;
  text-align: center;
  line-height: 0.9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.top-process-box .four-process-box div b {
  position: absolute;
  bottom: -1.2rem;
  left: -148%;
  width: 400%;
  height: 1rem;
  color: #999;
  font-weight: normal;
  font-size: 0.6rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.top-process-box .four-process-box span {
  float: left;
  width: 12%;
  color: #999;
  font-size: 0.8rem;
  line-height: 0.5rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.top-process-box .process-1 div:nth-child(1) strong {
  background: #33bf83;
}
.top-process-box .process-1 div:nth-child(1) b {
  color: #33bf83;
}
.top-process-box .process-1 span:nth-child(2) {
  color: #33bf83;
}
.top-process-box .process-2 div:nth-child(1) strong,
.top-process-box .process-2 div:nth-child(3) strong {
  background: #33bf83;
}
.top-process-box .process-2 div:nth-child(1) b,
.order-express .top-process-box .process-2 div:nth-child(3) b {
  color: #33bf83;
}
.top-process-box .process-2 span:nth-child(2),
.top-process-box .process-2 span:nth-child(4) {
  color: #33bf83;
}
.top-process-box .process-3 div:nth-child(1) strong,
.top-process-box .process-3 div:nth-child(3) strong,
.top-process-box .process-3 div:nth-child(5) strong {
  background: #33bf83;
}
.top-process-box .process-3 div:nth-child(1) b,
.top-process-box .process-3 div:nth-child(3) b,
.top-process-box .process-3 div:nth-child(5) b {
  color: #33bf83;
}
.top-process-box .process-3 span:nth-child(2),
.top-process-box .process-3 span:nth-child(4),
.top-process-box .process-3 span:nth-child(6) {
  color: #33bf83;
}
.top-process-box .process-4 div strong {
  background: #33bf83;
}
.top-process-box .process-4 div b {
  color: #33bf83;
}
.top-process-box .process-4 span {
  color: #33bf83;
}
.explain-div-1 {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 1rem 0 1rem;
  background: #fff;
}
.explain-div-1 h2 {
  width: 93.5%;
  margin: 0 auto;
  padding: 0 0 0.6rem;
  font-weight: bold;
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.explain-div-1 h3 {
  width: 93.5%;
  margin: 0 auto;
  color: #222;
  font-size: 0.8rem;
}
.explain-div-1 p {
  width: 93.5%;
  margin: 0.4rem auto;
  color: #666;
  font-size: 0.7rem;
}
