.address-form {
  width: 100%;
  height: auto;
  padding-top: 3rem;
  margin-bottom: 1rem;
}
.address-form li {
  overflow hidden;
  display: block;
  width: 100%;
  border-bottom: 1px solid #f6f6f6;
  background: #fff;
}
.address-form li span {
  float: left;
  //width: 25%;
  height: 2.6rem;
  color: #222;
  font-size: 0.8rem;
  line-height: 2.6rem;
  text-indent: 3.33%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.address-form li i {
  float: left;
  width: 12.5%;
  height: 2.7rem;
  background: url("/static/image/oldmobileaddress_button_tick_default@2x.png") 50% no-repeat;
  -webkit-background-size: 36% 36%;
  -moz-background-size: 36% 36%;
  -ms-background-size: 36% 36%;
  -o-background-size: 36% 36%;
  background-size: 36% 36%;
}
.address-form li .i-on {
  background: url("/static/image/oldmobileaddress_button_tick_press@2x.png") 50% no-repeat;
  -webkit-background-size: 36% 36%;
  -moz-background-size: 36% 36%;
  -ms-background-size: 36% 36%;
  -o-background-size: 36% 36%;
  background-size: 36% 36%;
}
.address-form li .span-length {
  width: auto;
}
.address-form li label {
  float: right;
  width: 75%;
  height: 2.7rem;
  margin: 0;
  padding: 0;
  line-height: 2.7rem;
  font-size: 0.8rem;
}
.address-form li label ::-webkit-input-placeholder {
  color: #999;
}
.address-form li .select {
  position: relative;
  float: right;
  width: 75%;
  height: 2.7rem;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 2.7rem;
  font-size: 0.8rem;
  color: #999;
}
.address-form li .select select {
  display: block;
  width: 100%;
  height: 2.7rem;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 2.7rem;
  font-size: 0.8rem;
  color: #222;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}
.address-form li .select:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 2.7rem;
  //background: url("/static/image/icon_right_arrow_s.png") 70% 50% no-repeat;
  -webkit-background-size: 15% 25%;
  -moz-background-size: 15% 25%;
  -ms-background-size: 15% 25%;
  -o-background-size: 15% 25%;
  background-size: 15% 25%;
}
.address-form li textarea {
  float: right;
  width: 75%;
  height: 2.9rem;
  padding: 0;
  margin: 0.8rem 1.9rem 0.4rem;
  font-size: 0.8rem;
  color: #222;
  border: none;
  outline: none;
  resize: none;
}
.storage-btn {
  overflow: hidden;
  width: 80%;
  height: 2.25rem;
  margin: 0 auto;
  border-radius: 2rem;
}
.storage-btn a {
  display: block;
  width: 100%;
  height: 2.25rem;
  background: #28c081;
  color: #fff;
  font-size: 0.9rem;
  line-height: 2.25rem;
  text-align: center;
}
.area-class {
  width: 100%;
  height: 50%;
}
.mint-cell {
  margin : 0;
  height:2.6rem;
  min-height : auto;
}
.mint-cell-wrapper {
  background-image: none;
}
.mint-cell-value {
  float: left;
  height: 2.6rem;
  color: #222;
  font-size: 0.8rem;
  line-height: 2.6rem;
  text-indent: 3.33%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}
