.top-return {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  height: 2.35rem;
  background: #28c081;
  z-index: 9998;
}
.top-inf-appraisal {
  width: 100%;
  height: 5.08rem;
  padding-top: 3.5rem;
  margin-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  background: #fff;
}
.top-inf-appraisal .left-img-box {
  float: left;
  width: 22%;
  height: 5.2rem;
  margin-left: 3.2%;
}
.top-inf-appraisal .left-img-box img {
  display: block;
  width: 100%;
  height: 100%;
}
.top-inf-appraisal .right-inf-box {
  float: right;
  width: 66.67%;
  height: 4.5rem;
  margin-right: 3.2%;
}
.top-inf-appraisal .right-inf-box h2 {
  width: 100%;
  height: 1.2rem;
  color: #222;
  line-height: 1rem;
  font-size: 0.9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.top-inf-appraisal .right-inf-box h2 span {
  float: left;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.top-inf-appraisal .right-inf-box h2 span i {
  font-style: normal;
}
.top-inf-appraisal .right-inf-box h2 a {
  float: right;
  color: #666;
  font-size: 0.6rem;
}
.top-inf-appraisal .right-inf-box h3 {
  width: 100%;
  height: 1.2rem;
  color: #222;
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.top-inf-appraisal .right-inf-box div {
  display: block;
  width: 100%;
  height: 1.5rem;
  padding-top: 1rem;
}
.top-inf-appraisal .right-inf-box div p {
  float: left;
  width: 70%;
  height: 1.5rem;
  color: #999;
  line-height: 2rem;
  font-size: 0.55rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.top-inf-appraisal .right-inf-box div strong {
  float: right;
  width: 30%;
  height: 1.5rem;
  color: #fe4045;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.top-inf-appraisal .right-inf-box div strong em {
  font-size: 0.55rem;
  font-weight: normal;
}
.top-inf-appraisal .right-inf-box div strong span {
  font-size: 1.15rem;
}
.calculation-main {
  width: 100%;
  height: auto;
  background: #fff;
}
.calculation-main h2 {
  display: block;
  width: 93%;
  height: 1.75rem;
  margin: 0 auto;
  color: #222;
  line-height: 1.75rem;
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.calculation-main .c-des-list {
  overflow: hidden;
  width: 88%;
  height: auto;
  margin-left: 8%;
  margin-bottom: 0.5rem;
}
.calculation-main .c-des-list h3 {
  width: 100%;
  height: 1.6rem;
  color: #222;
  line-height: 1.6rem;
  font-size: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.calculation-main .c-des-list li {
  width: 100%;
  height: 3.65rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #f6f6f6;
}
.calculation-main .c-des-list li .li-left-img {
  float: left;
  width: 20%;
  height: 3.2rem;
}
.calculation-main .c-des-list li .li-left-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.calculation-main .c-des-list li .li-right-inf {
  float: right;
  width: 78%;
  height: 3.2rem;
}
.calculation-main .c-des-list li .li-right-inf h4 {
  width: 100%;
  height: 1rem;
  color: #222;
  line-height: 0.8rem;
  font-size: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.calculation-price .calculation-main .c-des-list li .li-right-inf h4 span {
  float: left;
  width: 70%;
  font-size: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.calculation-main .c-des-list li .li-right-inf h4 strong {
  float: right;
  color: #666;
  font-size: 0.8rem;
}
.calculation-main .c-des-list li .li-right-inf h4 strong em {
  font-size: 0.6rem;
}
.calculation-main .c-des-list li .li-right-inf h4 strong b {
  font-weight: normal;
}
.calculation-main .c-des-list li .li-right-inf h5 {
  width: 100%;
  height: 1rem;
  color: #222;
  font-size: 0.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.calculation-main .c-des-list li .li-right-inf div {
  display: block;
  width: 100%;
  height: 1.5rem;
}
.calculation-main .c-des-list li .li-right-inf div p {
  float: left;
  width: 70%;
  height: 1.5rem;
  color: #999;
  line-height: 1.5rem;
  font-size: 0.55rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.calculation-main .c-des-list li .li-right-inf div a {
  float: right;
  width: 30%;
  height: 1.5rem;
  color: #666;
  text-align: right;
  font-size: 0.55rem;
  line-height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.echarts-main {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 20.5rem;
  margin-bottom: 0.5rem;
  background: #fff;
}
.echarts-main h2 {
  position: absolute;
  top: 0.5rem;
  left: 3%;
  width: 93%;
  height: 1.75rem;
  margin: 0 auto;
  color: #222;
  line-height: 1.75rem;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.echarts-main p {
  position: absolute;
  top: 2rem;
  right: 8%;
  color: #28c081;
  font-size: 0.8rem;
}
.echarts-main #container {
  width: 100%;
  height: 24rem;
}
.promise-main {
  width: 100%;
  height: auto;
  background: #fff;
}
.promise-main h2 {
  display: block;
  width: 93%;
  height: 1.75rem;
  margin: 0 auto;
  color: #222;
  line-height: 1.75rem;
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.promise-main .promise-img {
  display: block;
  width: 60.93%;
  height: 3.2rem;
  margin: 0.5rem auto 0;
  padding-bottom: 1rem;
}
.promise-main .promise-img img {
  display: block;
  height: 100%;
}
.calculation-price .footer-shopping-cart {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  height: 2.25rem;
}
.footer-shopping-cart .left-icon {
  float: left;
  width: 14.94%;
  height: 2.25rem;
  background: #ffffff url("/static/image/icon_shopping_cart.png") 50% no-repeat;
  -webkit-background-size: 60% 82%;
  -moz-background-size: 60% 82%;
  -ms-background-size: 60% 82%;
  -o-background-size: 60% 82%;
  background-size: 60% 82%;
}
.footer-shopping-cart .center-shopping {
  float: left;
  width: 29.33%;
  height: 2.25rem;
  background: #2bb179;
  color: #fff;
  font-size: 0.8rem;
  line-height: 2.25rem;
  text-align: center;
}
.footer-shopping-cart .right-shopping {
  float: right;
  width: 100%;
  height: 2.25rem;
  background: #28c081;
  color: #fff;
  font-size: 0.8rem;
  line-height: 2.25rem;
  text-align: center;
}
