.equipment-list {
  width: 93.6%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 3rem;
}
.equipment-list h3 {
  position: relative;
  width: 100%;
  height: 1.95rem;
  color: #222;
  line-height: 1.95rem;
  font-size: 0.8rem;
}
.equipment-list .detailed-list {
  display: block;
  width: 100%;
  height: auto;
}
.equipment-list .detailed-list .model-list-box {
  overflow: hidden;
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.equipment-list .detailed-list .model-big-box {
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  background: #fff;
}
.equipment-list .detailed-list .model-box {
  display: block;
  width: 120%;
  padding: 0.57rem 0 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.equipment-list .detailed-list .model-box .left-b-box {
  float: left;
  position: relative;
  width: 80%;
  height: auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.equipment-list .detailed-list .model-box .left-b-box .sign-i {
  position: absolute;
  top: 0.85rem;
  left: -3.2%;
  width: 15.9%;
  height: 2.7rem;
  background: url("/static/images/coupons_button_tick_press2.png") 50% no-repeat;
  -webkit-background-size: 33% 33%;
  -moz-background-size: 33% 33%;
  -ms-background-size: 33% 33%;
  -o-background-size: 33% 33%;
  background-size: 33% 33%;
}
.equipment-list .detailed-list .model-box .left-b-box .sign-on {
  background: url("/static/images/coupons_button_tick_press.png") 50% no-repeat;
  -webkit-background-size: 33% 33%;
  -moz-background-size: 33% 33%;
  -ms-background-size: 33% 33%;
  -o-background-size: 33% 33%;
  background-size: 33% 33%;
}
.equipment-list .detailed-list .model-box .left-b-box .pic-left {
  float: left;
  width: 25.71%;
  height: 4.6rem;
  margin-left: 8.57%;
}
.equipment-list .detailed-list .model-box .left-b-box .pic-left img {
  display: block;
  width: 100%;
  height: 100%;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right {
  float: right;
  width: 60%;
  height: 4.6rem;
  margin-right: 3%;
  font-size: 0.6rem;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right h4 {
  width: 100%;
  height: 1.05rem;
  color: #222;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right h4 span {
  float: right;
  color: red;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right p {
  position: relative;
  width: 90%;
  height: 1.2rem;
  padding-right: 10%;
  border-radius: 0.3rem;
  background: #f6f6f6;
  line-height: 1.2rem;
  color: #999;
  text-indent: 3%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right p:after {
  position: absolute;
  top: 0.5rem;
  right: 4%;
  width: 4%;
  height: 0.2rem;
  content: "";
  background: url('/static/images/icon_bottom_arrow_s.png') no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right .increase-change {
  width: 100%;
  height: 1.2rem;
  margin-top: 0.2rem;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right .increase-change span {
  float: left;
  width: 11.5%;
  height: 1.1rem;
  border: 1px solid #999;
  border-radius: 1rem;
  color: #222;
  font-size: 0.7rem;
  line-height: 1.1rem;
  text-align: center;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right .increase-change i {
  float: left;
  width: 11.5%;
  height: 1.1rem;
  color: #222;
  font-size: 0.65rem;
  font-style: normal;
  line-height: 1.3rem;
  text-align: center;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right .inf-r-price {
  width: 100%;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right .inf-r-price span {
  float: left;
  color: #999;
  line-height: 1.4rem;
  font-size: 0.6rem;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right .inf-r-price strong {
  float: right;
  color: #fe4045;
  font-size: 0.95rem;
}
.equipment-list .detailed-list .model-box .left-b-box .inf-right .inf-r-price strong b {
  margin-left: -5%;
  margin-right: 5%;
  font-style: normal;
  font-size: 0.6rem;
}
.equipment-list .detailed-list .model-box .rigth-delete {
  float: right;
  width: 16%;
  height: 5.75rem;
  margin-top: -0.57rem;
  background: #28c081;
  color: #fff;
  font-size: 0.65rem;
  line-height: 5.75rem;
  text-indent: 2%;
}
.equipment-list .detailed-list .m-swipeleft {
  margin-left: -13%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.equipment-list .detailed-list .add-btn {
  display: block;
  width: 100%;
}
.equipment-list .detailed-list .add-btn a {
  display: block;
  width: 55.71%;
  height: 1.75rem;
  margin: 0 auto;
  border-radius: 1rem;
  border: 2px solid #28c081;
  color: #28c081;
  font-size: 0.75rem;
  line-height: 1.75rem;
  text-align: center;
}
.footer-appraisal {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  height: 2.25rem;
  box-shadow: 0 0 5px 5px #f6f6f6;
  background: #fff;
}
.footer-appraisal span {
  float: left;
  width: 50%;
  height: 2.25rem;
  color: #222;
  font-size: 0.8rem;
  line-height: 2.25rem;
  text-indent: 4%;
}
.footer-appraisal span strong {
  font-weight: normal;
  color: #fe4045;
}
.footer-appraisal span strong b {
  font-size: 0.6rem;
  font-weight: normal;
}
.footer-appraisal a {
  float: right;
  width: 50%;
  height: 2.25rem;
  background: #28c081;
  color: #fff;
  font-size: 0.9rem;
  line-height: 2.25rem;
  text-align: center;
}
.footer-appraisal {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  height: 2.25rem;
  box-shadow: 0 0 5px 5px #f6f6f6;
  background: #fff;
}
.footer-appraisal span {
  float: left;
  width: 50%;
  height: 2.25rem;
  color: #222;
  font-size: 0.8rem;
  line-height: 2.25rem;
  text-indent: 4%;
}
.footer-appraisal span strong {
  font-weight: normal;
  color: #fe4045;
}
.footer-appraisal span strong b {
  font-size: 0.6rem;
  font-weight: normal;
}
.footer-appraisal a {
  float: right;
  width: 50%;
  height: 2.25rem;
  background: #28c081;
  color: #fff;
  font-size: 0.9rem;
  line-height: 2.25rem;
  text-align: center;
}
