.div1 {
  height 100%;
  margin-top 40px;
  padding-top 0.01rem;
  background #E7E5E6;
}
.div2 {
  margin 1rem;
  border-radius:5px;
  padding 1rem;
  background #ffffff;
}
.div3 {
  margin-top 0.3rem;
}
.div3 a {
  color black
}
.div4 {
  margin-top 0.3rem;
}
.swipe {
  margin-top 1rem;
  margin-bottom 1rem;
}
