.appraisal-main1 {
  width: 100%;
}
.appraisal-main1 .appraisal-ul {
  margin-bottom: 2.8rem;
}
.appraisal-main1 .appraisal-ul .li div a {
  color: #28c081;
  width: 33%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.appraisal-main1 .appraisal-ul .li {
  display: block;
  width: 92%;
  padding: 0 4%;
  border-bottom: 1px solid #f6f6f6;
  background: #fff;
  font-size: 1rem;
  line-height: 3rem;
}
.appraisal-main1 .appraisal-ul .li .show {
  display: block;
}
.appraisal-main1 .appraisal-ul .li ul .select {
  background: #28c081 !important;
  color: #fff;
}
.offer-btn-box1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  height: 2.8rem;
  color: #fff;
  line-height: 2.8rem;
  text-align: center;
}
.offer-btn-box1 a {
  display: block;
  width: 100%;
  height: 2.8rem;
  background: #8fdbbb;
  color: #fff;
}
.offer-btn-box1 .open {
  background: #27c080;
}
.appraisal-process-problem-wrap {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.appraisal-process-problem-wrap {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.appraisal-process-problem-wrap .problem-box {
  position: absolute;
  //bottom: -50vh;
  bottom: 0;
  width: 100%;
  height: 12.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: #fff;
  z-index: 9980;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.appraisal-process-problem-wrap .problem-box h1 {
  width: 80%;
  height: 2.5rem;
  margin: 0 auto;
  color: #222;
  font-size: 0.9rem;
  line-height: 2.5rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.appraisal-process-problem-wrap .problem-box p {
  width: 90%;
  margin: 0 auto;
  color: #666;
  line-height: 1rem;
  font-size: 0.7rem;
}
.appraisal-process-problem-wrap .problem-close {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9900;
}
.appraisal-process {
  width: 100%;
  height: 93vh;
  padding-top: 7vh;
  background: #f6f6f6;
}
.progress-bar {
  position: fixed;
  top: 2.5rem;
  overflow: hidden;
  width: 100%;
  z-index: 9980;
}
.progress-bar .line {
  position: relative;
  display: block;
  height: 0.7rem;
  background: #ffc041;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.progress-bar .after-style {
  position: absolute;
  top: 0;
  right: 1%;
  color: #fff;
  font-size: 0.55rem;
  font-style: normal;
}
.progress-bar .schedule-0 {
  width: 0%;
  height: 0;
}
.progress-bar .schedule-0:after {
  position: absolute;
  top: 0;
  right: 1%;
  color: #fff;
  font-size: 0.55rem;
  font-style: normal;
  content: "";
}
.progress-bar .schedule-01 {
  width: 16.6%;
  height: 0.7rem;
}
.progress-bar .schedule-01:after {
  position: absolute;
  top: 0;
  right: 1%;
  color: #fff;
  font-size: 0.55rem;
  font-style: normal;
  content: "1/6";
}
.progress-bar .schedule-11 {
  width: 33.6%;
  height: 0.7rem;
}
.progress-bar .schedule-11:after {
  position: absolute;
  top: 0;
  right: 1%;
  color: #fff;
  font-size: 0.55rem;
  font-style: normal;
  content: "2/6";
}
.progress-bar .schedule-21 {
  width: 49.2%;
  height: 0.7rem;
}
.progress-bar .schedule-21:after {
  position: absolute;
  top: 0;
  right: 1%;
  color: #fff;
  font-size: 0.55rem;
  font-style: normal;
  content: "3/6";
}
.progress-bar .schedule-31 {
  width: 66.8%;
  height: 0.7rem;
}
.progress-bar .schedule-31:after {
  position: absolute;
  top: 0;
  right: 1%;
  color: #fff;
  font-size: 0.55rem;
  font-style: normal;
  content: "4/6";
}
.progress-bar .schedule-41 {
  width: 83.6%;
  height: 0.7rem;
}
.progress-bar .schedule-41:after {
  position: absolute;
  top: 0;
  right: 1%;
  color: #fff;
  font-size: 0.55rem;
  font-style: normal;
  content: "5/6";
}
.progress-bar .schedule-51 {
  width: 100%;
  height: 0.7rem;
}
.progress-bar .schedule-51:after {
  position: absolute;
  top: 0;
  right: 1%;
  color: #fff;
  font-size: 0.55rem;
  font-style: normal;
  content: "6/6";
}
.progress-bar .schedule-61 {
  width: 100%;
  height: 0.7rem;
}
.progress-bar .schedule-61:after {
  position: absolute;
  top: 0;
  right: 1%;
  color: #fff;
  font-size: 0.55rem;
  font-style: normal;
  content: "7/6";
}
.confirm-btn {
  display: block;
  width: 100%;
  height: 2.7rem;
  background: #28c081;
}
.confirm-btn .mint-button-text {
  color: #fff;
}
.testMachine .appraisal-main1 .appraisal-ul .li div {
  position: relative;
  height: 3rem;
}
.testMachine .appraisal-main1 .appraisal-ul .li div span {
  position : relative;
  float: left;
  width: 40%;
  color: #222;
  overflow auto!important;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.testMachine .appraisal-main1 .appraisal-ul .li div strong {
  float: right;
  width: 60%;
  color: #28c081;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}.testMachine .appraisal-main1 .appraisal-ul .li div i {
   position: absolute;
   float inside;
   top: 0.7rem;
   left : auto!important;
   width: 18%;
   height: 1.5rem;
   margin-left : 3%;
   background: url(/static/image/icon_problem.png) no-repeat;
   -webkit-background-size: 100% 100%;
   -moz-background-size: 100% 100%;
   -ms-background-size: 100% 100%;
   -o-background-size: 100% 100%;
   background-size: 100% 100%;
 }
.testMachine .appraisal-main1 .appraisal-ul .li ul li {
  display: block;
  width: 100%;
  height: 2.7rem;
  margin-bottom: 0.57rem;
  border-radius: 0.3rem;
  background: #f6f6f6;
  font-size: 1rem;
  line-height: 2.7rem;
  text-align: center;
}
.appraisal-main1 .appraisal-ul .li ul {
  display: none;
}
.appraisal-main1 .appraisal-ul .li .show {
  display: block
}
.offer-btn-box1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  height: 2.8rem;
  color: #fff;
  line-height: 2.8rem;
  text-align: center;
}
.offer-btn-box1 a {
  display: block;
  width: 100%;
  height: 2.8rem;
  background: #8fdbbb;
  color: #fff;
}
.offer-btn-box1 .open {
  background: #27c080;
}

.mt-range {
  margin-top: 32px;
}
.mt-range-thumb {
  height 0
}
.mt-range-runway {
  width: 116.25%!important;
  //border-top-color: #fff!important;
  background #fff;
}
.mt-range-progress {
  background-color: #ffc041;
}
.mt-range > * {
  z-index:9900;
}
.mt-range:nth-last-child(1) {
  font-size:0.8rem;
}

.mint-button--small {
  float: right;

}
.yjBtn{
 padding 3%;
}
.upload{
 padding 3%;
}
.yjBtn span{
  color red
}
.yjBtn span a{
  color red
}
.appraisal-main1 .appraisal-ul .li div b {
  position: absolute;
  bottom: 0;
  left: 50%;
  line-height: initial;
  font-weight: normal;
  font-size: 0.6rem;
}
.appraisal-main1 .appraisal-ul .li div .state-01 {
  color: #28c081;
}
.appraisal-main1 .appraisal-ul .li div .state-02 {
  color: #FE5678;
}


.upload .a-upload {
  padding: 4px 10px;
  height: 20px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  color: #888;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
}

.upload .a-upload  input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer
}

.upload .a-upload:hover {
  color: #444;
  background: #eee;
  border-color: #ccc;
  text-decoration: none
}

.upload ul {
  margin-top 0.3rem
}

.fileClass a {
  color red
  float right
}

.zPopup {
  width 80%
  padding 3%
  border-radius 5px
}
.zPopup .mint-radiolist a {
  float: left;
}
.zPopup .mint-radiolist-title {
  font-size 1rem
}

.zPopup .ms .mint-cell-title {
  flex 0
}
.zPopup .mint-cell-wrapper {
  background-size: 120% 0px;
}
.zPopup .mint-cell:last-child  {
  background-size: 120% 0px;
}



