.binding-success {
  width: 100%;
  height: 93vh;
  padding-top: 7vh;
  background: #f6f6f6;
}
.binding-success .tips-icon-img {
  width: 84.8%;
  margin: 0 auto 6rem;
}
.binding-success .tips-icon-img dt {
  display: block;
  width: 37.74%;
  height: 2rem;
  margin: 0 auto;
  padding: 2.75rem 0 1.25rem;
}
.binding-success .tips-icon-img dt img {
  display: block;
  width: 100%;
  height: 100%;
}
.binding-success .tips-icon-img dd {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}
.binding-success .tips-icon-img dd h1 {
  display: block;
  width: 100%;
  height: 1.25rem;
  color: #28c081;
  font-size: 1.05rem;
  line-height: 1.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.binding-success .tips-icon-img dd h5 {
  padding: 0.2rem 0 0.5rem;
  color: #999;
  font-size: 0.6rem;
}
.binding-success .tips-icon-img dd h4 {
  color: #222;
  font-size: 0.6rem;
}
.binding-success .success-btn {
  overflow: hidden;
  width: 93.6%;
  height: 2rem;
  margin: 0 auto;
}
.binding-success .success-btn a {
  display: block;
  width: 100%;
  height: 2rem;
  border-radius: 0.4rem;
  background: #33bf83;
  color: #fff;
  font-size: 0.9rem;
  line-height: 2rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
