.account-encyclopedias {
  height: 100vh;
  width: 100%;
  height: 93vh;
  padding-top: 7vh;
  background: #f6f6f6;
}
.account-encyclopedias .acc-enc-main {
  width: 94%;
  padding: 0.75rem 3% 7rem;
  background: #fff;
}
.account-encyclopedias .acc-enc-main div {
  width: 100%;
  margin-bottom: 1rem;
}
.account-encyclopedias .acc-enc-main div h1 {
  width: 100%;
  height: 1.5rem;
  color: #000;
  font-size: 0.85rem;
}
.account-encyclopedias .acc-enc-main div p {
  color: #222;
  line-height: 1rem;
  font-size: 0.6rem;
}
.account-encyclopedias .acc-enc-main div h2 {
  width: 100%;
  height: 1.5rem;
  color: #222;
  font-size: 0.8rem;
}
.account-encyclopedias .acc-enc-main .enc-tip-02 p {
  color: #666;
}

.drop-out {
  height: 98.5vh;
  padding-top: 1.5vh;
  width: 100%;
  height: 93vh;
  padding-top: 7vh;
  background: #f6f6f6;
}
.drop-out .top-tip-p {
  width: 100%;
  padding: 0.8rem 0;
  background: #fff;
}
.drop-out .top-tip-p p {
  display: block;
  width: 92%;
  margin: 0 auto;
  color: #28c081;
  line-height: 1rem;
  font-size: 0.7rem;
}
.drop-out .drop-main {
  width: 100%;
  margin-top: 0.5rem;
  background: #fff;
}
.drop-out .drop-main h1 {
  width: 94%;
  height: 1.85rem;
  margin: 0 auto;
  color: #222;
  line-height: 1.85rem;
  font-size: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.drop-out .drop-main .drop-con {
  width: 94%;
  margin: 1rem auto 0;
  padding-bottom: 1rem;
}
.drop-out .drop-main .drop-con p {
  position: relative;
  width: 97%;
  margin-left: 3%;
  color: #222;
  line-height: 1rem;
  font-size: 0.6rem;
}
.drop-out .drop-main .drop-con p strong {
  color: #28c081;
  font-weight: normal;
}
.drop-out .drop-main .drop-con p:after {
  position: absolute;
  top: -0.35rem;
  left: -3%;
  color: #999;
  font-size: 1.2rem;
  content: '.';
}
.drop-out .drop-main .drop-con .tip-p {
  width: 100%;
  margin: 1rem auto;
}
.drop-out .drop-main .drop-con .tip-p span {
  display: block;
  width: 100%;
  color: #999;
  font-size: 0.6rem;
  text-align: center;
}
.drop-out .drop-main .drop-con .btn-box {
  display: block;
  width: 100;
}
.drop-out .drop-main .drop-con .btn-box a {
  display: block;
  width: 100%;
  height: 2rem;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  line-height: 2rem;
  text-align: center;
}
.drop-out .drop-main .drop-con .btn-box .maintain-btn {
  margin-bottom: 1rem;
  background: #28c081;
  color: #fff;
}
.drop-out .drop-main .drop-con .btn-box .quit-btn {
  border: 1px solid #28c081;
  background: #fff;
  color: #28c081;
}

