.account-management {
  height: 100vh;
  width: 100%;
  height: 93vh;
  padding-top: 7vh;
  background: #f6f6f6;
}
.account-management .top-account-inf {
  width: 100%;
  height: 3.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #fff;
}
.account-management .top-account-inf dt {
  overflow: hidden;
  float: left;
  width: 14.8%;
  //height: 2.77rem;
  margin: 0 5.33% 0 3.2%;
  border-radius: 50%;
}
.account-management .top-account-inf dt img {
  display: block;
  width: 100%;
  height: 100%;
}
.account-management .top-account-inf .formal {
  float: left;
  width: 50%;
  height: 2.77rem;
}
.account-management .top-account-inf .formal span {
  display: block;
  color: #222;
  line-height: 3.77rem;
  font-size: 0.85rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.account-management .top-account-inf .no-formal {
  float: left;
  width: 50%;
  height: 2.77rem;
}
.account-management .top-account-inf .no-formal span {
  display: block;
  padding-top: 0.5rem;
  color: #222;
  line-height: 1rem;
  font-size: 0.85rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.account-management .top-account-inf .no-formal p {
  color: #28c081;
  font-size: 0.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.account-management .account-list {
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
}
.account-management .account-list li {
  width: 100%;
  height: 2.5rem;
  border-bottom: 1px solid #f6f6f6;
  background: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.account-management .account-list li a {
  display: block;
  width: 92%;
  height: 2.5rem;
  margin: 0 auto;
  background: url("/static/image/icon_right_arrow_s.png") 100% 50% no-repeat;
  -webkit-background-size: 2% 20%;
  -moz-background-size: 2% 20%;
  -ms-background-size: 2% 20%;
  -o-background-size: 2% 20%;
  background-size: 2% 20%;
  color: #666;
  line-height: 2.5rem;
  font-size: 0.82rem;
}
