@import "~common/stylus/index.styl"

.homeHead
  position fixed
  top 39px
  left 0
  font-size 0
  width 100%
  height 50px
  z-index 5
  background-color #27C080
  .navigation
    position absolute
    top 10px
    width 20px
    height 20px
    font-size 0
    left 10px
    padding 5px
    bg-image('navigation')
    background-size 20px 20px
    background-repeat no-repeat
  .navbar
      top 0
      left 0
      right 0
      bottom 0
      margin auto
      background-color #0000
      width 50%
  .mint-tab-item-label
      font-size 1.2rem
      color #fff
      line-height 0.3

.mint-tab-container {
  overflow: visible;
  position: static;
}
.home-change-purchase {
  position: relative;
  width: 93%;
  height: auto;
  margin: -0.6rem auto 0;
  padding-bottom 1.68rem;
  border-radius: 0.3rem;
  background: #fff;
  box-shadow: 0 5px 30px 3px #ccc;
}
.home-change-purchase ul {
  width: 90%;
  margin: 0 auto;
}
.home-change-purchase ul li {
  width: 100%;
  height: 2.83rem;
  border-bottom: 0.05rem solid #f6f6f6;
  line-height: 2.83rem;
}
.home-change-purchase ul li span {
  float: left;
  width: 14.24%;
  height: 2.83rem;
  color: #666;
  line-height: 2.83rem;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home-change-purchase ul li strong {
  float: left;
  width: 70%;
  height: 2.83rem;
  color: #202020;
  line-height: 2.83rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home-change-purchase p {
  width: 100%;
  color: #e53a3a;
  font-size: 0.6rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home-change-purchase .exchange-btn {
  width: 90%;
  margin: 0 auto;
  background: #28c081;
  color: #fff;
  text-align: center;
}
.h-prompt-img {
  position: absolute;
  bottom: 8vh;
  left: 15%;
  width: 69.2%;
  height: 3.25rem;
  margin: 4.5rem auto 0;
}
.h-prompt-img h4 {
  margin-bottom: 0.8rem;
  color: #999;
  font-size: 1rem;
  text-align: center;
}
.h-prompt-img div {
  margin-top 1rem
}
.h-prompt-img div a {
  float: left;
  width: 20%;
  margin: 0 2.5%;
}
.h-prompt-img div a img {
  display: block;
  width: 40%;
  height: 1.5rem;
  margin: 0 auto 0.2rem;
}
.h-prompt-img div a span {
  display: block;
  width: 100%;
  color: #999;
  font-size: 0.8rem;
  text-align: center;
}
.old-machine-btn {
  width: 84%;
  height: 2.25rem;
  margin: -0.5rem auto 0;
  z-index: 9950;
}
.old-machine-btn button {
  background: #27C080
}
.market-list-box {
  width: 93.33%;
  height: auto;
  padding: 0 3.33%;
  margin-top: 0.63rem;
  background: #f6f6f6;
}
.market-list-box h1 {
  width: 100%;
  height: 1.9rem;
  color: #222;
  line-height: 1.9rem;
  font-size: 1rem;
}
.market-list-box ul {
  width: 100%;
}
.market-list-box ul li {
  width: 48.29%;
  height: 11.1rem;
}
.market-list-box ul li img {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 8.45rem;
  border-radius: 0.5rem;
}
.market-list-box ul li span {
  display: block;
  width: 100%;
  margin: 0.4rem 0 0;
  color: #222;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.market-list-box ul li strong {
  display: block;
  width: 100%;
  color: #fe4045;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.homeHead .mint-navbar .mint-tab-item.is-selected {
  border-bottom: 3px solid #fff!important;
  padding: 21px 0!important;
  //color :#fff;
}
.mint-navbar .mint-tab-item {
  padding: 21px 0;
}
.old-machine-btn button label {
  color: #fff;
}
.market-list-box {
  background #fff;
}
.homeHead .navigation {
  top:15px;
  left:15px;
  background-image: 50%;
}
.sidebar .themes-list .themes .icons {
  float: left;
  margin : 12px 0 0 8px;
}
.sidebar .themes-list .themes .themetitle {
  font-size:1rem;
}


